.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  display: inline-block;
  float: left;
  color:#fff;
  font-size: 14px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.content{
  background-color: '#fff';
  padding: 24px;
  margin: 0;
  height:100%;
}
